@use "../../sass/base/breakpoints";

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
  max-width: 60rem;
  margin: 0 auto 2rem;

  @media screen and (min-width: breakpoints.$l) {
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90%;
  }
}
