@use "../../sass/base/breakpoints";
@use "../../sass/base/colors";
@use "../../sass/base/typography";

.nav {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  position: relative;
  width: 90%;
  max-width: 62.5rem;
  padding: 6% 0 4%;
  margin: 0 auto;

  @media (min-width: breakpoints.$l) {
    margin-bottom: 6rem;
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: breakpoints.$l) {
      justify-content: space-between;
      flex-basis: 95%;
      max-width: 37rem;
    }
  }

  &__hamburger-icon {
    cursor: pointer;
    margin-right: 0.75rem;

    @media screen and (min-width: breakpoints.$l) {
      display: none;
    }
  }

  &__user-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
  }

  &__cart-icon {
    cursor: pointer;
  }

  &__cart-bubble {
    position: absolute;
    top: 0;
    left: 1rem;
    padding: 0.1em 0.5em;
    border-radius: 50%;
    font-size: 0.75rem;
    background-color: colors.$orange;
    color: colors.$white;
  }

  &__user-avatar {
    width: 2.5em;
    cursor: pointer;

    &:active {
      border-radius: 100%;
      border: 2px solid colors.$orange;
    }
  }
}
